*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body::before{
  content: "";
  position: relative;
  width: 300px;
  height: 300px;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0,blue);
  border-radius: 50%;
  margin-left: -160px;
  z-index: 11;
  margin-top: -270px;
}

body::after{
  content: "";
  position: relative;
  width: 300px;
  height: 300px;
  background: linear-gradient(red,orange,yellow,aqua); 
  border-radius: 50%;
  margin-left: -220px;
  z-index: 11;
  margin-top: 200px;
  backdrop-filter: blur(50px);
}

.card-glass{
  position: relative;
  width: 650px;
  height: 340px;
  background: rgba( 255, 255, 255, 0.55 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  z-index: 20;
  margin-top: 200px;
  backdrop-filter: blur(30px);
  margin-left: -120px;
  margin-top: -100px;
}

.text-on-card-glass{
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: -200px;
  color: #555;
}
h2{
   letter-spacing: 30px;
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
   text-transform: uppercase;
   display: flex;
   flex-direction: row;
   margin-top: 140px;
   word-spacing: 10px;
}
.text-bottom-of-picture{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 130px;
  text-align: left;
  margin-left: -140px;
  letter-spacing: 6px;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #555;
  font-size: 35px;
  margin-left: -290px;
  margin-top: -140px;
  z-index: 11;
}

.credit-card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #555;
  font-size: 35px;
  cursor: pointer;
  user-select: none;
  pointer-events: none;
  margin-top: 140px;
  margin-left: 280px;
}

.logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #555;
  font-size: 35px;
  overflow: hidden;
  display: flex;
  margin-left: 290px;
  margin-top: -135px;
}